@import "tailwindcss";

:root {
  --foreground: #171717; 
    scroll-behavior: smooth;
}

@theme inline {
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-serif); 
  --font-mono2: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #EDEDED;
  }
}

body {
  background: linear-gradient(to top, #fef3c7, #e0f2fe);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh; 
  background-attachment: fixed;
}


h1, h2, h3, h4 {
  font-family: var(--font-serif), serif;
}